#* @vtlvariable name="textUtils" type="com.opensymphony.util.TextUtils" *#
#* @vtlvariable name="webResourceManager" type="com.atlassian.plugin.webresource.WebResourceManager" *#
#* @vtlvariable name="restDescriptors" type="java.util.List<com.atlassian.labs.restbrowser.rest.model.RestDescriptor>" *#
#* @vtlvariable name="jsonRpcDescriptors" type="java.util.List<com.atlassian.labs.restbrowser.rest.model.RestDescriptor>" *#
#* @vtlvariable name="applicationProperties" type="com.atlassian.sal.api.ApplicationProperties" *#
#* @vtlvariable name="devMode" type="java.lang.String" *#
<html>
  <head>
    <title>REST API Browser</title>
    <meta name="decorator" content="atl.general">
    $webResourceManager.requireResource("com.atlassian.labs.rest-api-browser:assets")
    <script type="text/javascript"></script>
  </head>
  <body class="page-type-admin">
    <script>
window.RAB={};
#if($applicationProperties.displayName == "Bamboo")
window.RAB.originalHash = location.hash;
jQuery._data(jQuery(window)[0],'events')['hashchange'] = _.filter(jQuery._data(jQuery(window)[0],'events')['hashchange'], function(d){ return !/m\.Adapter\.trigger/.test(d.handler.toString())});
#end
RAB.product = "$applicationProperties.displayName";
RAB.rest = {};
RAB.rest.services = [
    #foreach($descriptor in $restDescriptors)
        {
            "wadl":"$textUtils.htmlEncode($applicationProperties.baseUrl)/rest${descriptor.restPath}/application.wadl",
            "path":"$textUtils.htmlEncode($applicationProperties.baseUrl)/rest${descriptor.restPath}",
            "relativeResource": "${descriptor.displayPath}"
        }#if($velocityCount < $restDescriptors.size()),#end
    #end
];
RAB.rest.jsonRpcs = [
    #foreach($descriptor in $jsonRpcDescriptors)
        {
            "wadl": "$textUtils.htmlEncode($applicationProperties.baseUrl)/rest/devtools/1/jsonrpc/${descriptor.pluginKey}/wadl",
            "path": "$textUtils.htmlEncode($applicationProperties.baseUrl)/rpc$textUtils.htmlEncode(${descriptor.basePath})/$textUtils.htmlEncode($descriptor.version)",
            "relativeResource": "${descriptor.displayPath}"
        }#if($velocityCount < $jsonRpcDescriptors.size()),#end
    #end
];
RAB.rest.services = RAB.rest.services.concat(RAB.rest.jsonRpcs);
    </script>
    <div id="rab" ng-app="RAB" ng-controller="SidebarCtrl">
        <header class="aui-page-header rab-header">
            <div class="aui-page-header">
                <div class="aui-page-header-inner">
                    <form class="aui">
                        <input class="text rab-search" type="text" class="search" ng-model="searchQuery" placeholder="Search">
                        <input type="checkbox" name="publicOnlyFilter" class="checkbox" ng-model="publicOnly" ng-checked="publicOnly" />
                        <label for="publicOnlyFilter">Show only public APIs</label>
                    </form>
                    <div class="aui-page-header-actions">
                        <a ng-href="#/search/{{searchQuery | encodeQuery}}" ng-show="searchQuery">Link to filtered results</a>
                    </div>
                </div>
            </div>
        </header>
        <div class="aui-page-panel rab-content">
            <div class="aui-page-panel-inner">
                <div class="aui-page-panel-nav rab-sidebar">
                    <nav class="aui-navgroup aui-navgroup-vertical rab-sidebar-list">
                        <div class="rab-loading" ng-hide="resourcesLoaded"><span class="aui-icon aui-icon-wait">Wait</span></div>
                        <div class="aui-navgroup-inner" ng-show="resourcesLoaded">
                            <ul class="aui-nav" id="searchTextResults">
                                <li ng-repeat="resource in resources | filter:searchQuery | showPublicOnly:publicOnly | unique:'name' | orderBy:'name'" ng-class='{"aui-nav-selected": selectCurrent()}'>
                                    <a class="rab-sidebar-item" href="$applicationProperties.baseUrl/plugins/servlet/restbrowser#/resource/{{resource.key}}" title="{{resource.name}}" ng-bind="resource.name"></a>
                                </li>
                            </ul>
                        </div>
                    </nav>
                </div>
                <div class="rab-divider"></div>
                <section class="aui-page-panel-content rab-main" ng-view></section>
            </div>
        </div>
    </div>
    #if($devMode=="true")
        $webResourceManager.requireResource("com.atlassian.labs.rest-api-browser:assets-devmode")
    #else
        ## this is generated by running `grunt` in the assets/rab directory
        $webResourceManager.requireResource("com.atlassian.labs.rest-api-browser:assets-production")
    #end
    #if($applicationProperties.displayName == "Bamboo")
    <script type="text/javascript">
        // very stupid hack for Bamboo. Bamboo has a global hashchange listener that
        // makes it close to impossible to provide any other hashchange listener.
        // This hack does not solve the problem 100% unfortunately. When a page
        // is initially loaded with a hash, links on the sidebar break.
        jQuery(function(){
            window.history.replaceState({},'REST API Browser','$applicationProperties.baseUrl/plugins/servlet/restbrowser'+window.RAB.originalHash);
        });
    </script>
    #end
  </body>
</html>
